/*
gallery gallery house style settings
These are used in the open_browser.html and default index.html pages.
Replace the link tag in index.html if you want to use your own stylesheet.

Coded by Rene Beekman
November 2019
*/

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/iAWriterDuospace-Regular.eot") format("embedded-opentype"),
    url("./assets/fonts/iAWriterDuospace-Regular.woff2") format("woff2"),
    url("./assets/fonts/iAWriterDuospace-Regular.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: normal;
  font-style: italic;
  src: url("./assets/fonts/iAWriterDuospace-Italic.eot") format("embedded-opentype"),
    url("./assets/fonts/iAWriterDuospace-Italic.woff2") format("woff2"),
    url("./assets/fonts/iAWriterDuospace-Italic.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/iAWriterDuospace-Bold.eot") format("embedded-opentype"),
    url("./assets/fonts/iAWriterDuospace-Bold.woff2") format("woff2"),
    url("./assets/fonts/iAWriterDuospace-Bold.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: bold;
  font-style: italic;
  src: url("./assets/fonts/iAWriterDuospace-BoldItalic.eot") format("embedded-opentype"),
    url("./assets/fonts/iAWriterDuospace-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/iAWriterDuospace-BoldItalic.woff") format("woff");
}

html {
  font-family: 'iA Writer Duospace', sans-serif;
  font-size: 40px;
  color: #000;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

a {
  color: #39F;
  text-decoration: none;
}

main {
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.gallery-logo {
  width:40%;
}

.home-image {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.home-title {
  width: 100%;
  padding: 0;
  margin: 0 0.5rem 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
}

.home-sub {
  font-size: 1.1rem;
  line-height: 1.3rem;
  text-align: right;
  font-weight: 400;
  margin: 1rem 0.5rem 0.5rem;
  padding: 0;
}

.read-more {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 700;
  text-align: right;
  margin: 1rem 0.5rem 3rem;
}

.intro-text {
  padding: 0 2rem;
  margin: 3rem auto 2rem;
}

.art-work-image {
  padding: 0;
  margin: 1rem auto 3rem;
  width: 103%;
}

.mb12rem {
  margin-bottom: 12rem;
}


/*
The following two classes build on the house style and were used for titles and texts on artwork pages
*/
.art-work-title {
  font-size: 1rem;
  margin: 0 1rem 0;
}

.back {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 700;
  margin: 1rem 0.5rem 2.5rem;
  text-align: center;
}

/* Responsiveness */
@media (min-width: 1100px) {
  html {
    font-size: 20px;
  }
  main {
    max-width: 22rem;
    margin-bottom: 6rem;
  }
}
